<!--
<div class="card" style="flex-direction: row">
<% @items.each do |item| %>
  <div class="card-header">
    <%= item.name %>
  </div>

  <div class="card-body">
  <div class="row">
  <img src="<%= item.image %>" class="d-flex align-self-center img-thumbnail ">
    <ul>
      <li><%= item.description %></li>
      <li><%= item.quantity %></li>
      <li><%= item.item_number %></li>
    </ul>
    <% end %>
  </div>

  <div class="card-footer">
    <p>hello</p>
  <div>
  </div>

</div>

<div class="row"><div class="d-grid btn btn-large btn-block"></div></div>
-->

<div class="card">

  <div class="card-header bg-primary">
    <h5 class="text-light"><%= item.name %></h5>
  </div>

  <div class="card-body">

  <div class="row">

  <!-- Testing beyong this point -->
<div class="col align-self-center">
  <div id="<%= item.id %>" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= item.image %>" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/1545743/pexels-photo-1545743.jpeg" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/733745/pexels-photo-733745.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#<%= item.id %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#<%= item.id %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

  
  <!-- Testing above this point -->

<!--
    <div class="col align-self-center">
      <dl>
        <dt>Image</dt>
        <dd><img src="<%= item.image %>" class="img-thumbnail"></dd>
      </dl>

    </div>
-->
    <div class="col">
      <dl>

      <dt>
        Name
      </dt>
      <dd>
        <%= item.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= item.description %>
      </dd>

      <dt>
        Quantity
      </dt>
      <dd>
        <%= item.quantity %>
      </dd>

      <dt>
        Item #
      </dt>
      <dd>
        <%= item.item_number %>
      </dd>

      </dl>
    </div>
  </div>
    
    <% if @current_user != nil %>
    <div class="row">
      <div class="col">
        <div class="d-grid">
          <%= link_to edit_mace_path(item), class: "btn btn-warning btn-lg btn-block" do %>
            <span><i class="fa-regular fa-pen-to-square"></i></span>
          <% end %>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="d-grid">
          <a href="/delete/<%= item.id %>" method="get" class="btn btn-danger btn-lg btn-block">
            <span><i class="fa-regular fa-trash-can"></i></span>
          </a>
        </div>
      </div>
    </div>
    <% else %>
    <% end %>
  </div>

   
    
    
    <div class="card-footer bg-primary">
      <!--<h5 class="text-light">Last updated <%= time_ago_in_words(item.updated_at) %> ago</h2>-->
      <h5></h5>
    </div>
  </div>

 <div class="row"><div class="d-grid btn btn-large btn-block"></div></div>
 <div class="row"><div class="d-grid btn btn-large btn-block"></div></div>
 <div class="row"><div class="d-grid btn btn-large btn-block"></div></div> 





<!--
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="<%= item.image %>" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.pexels.com/photos/1545743/pexels-photo-1545743.jpeg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://images.pexels.com/photos/733745/pexels-photo-733745.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Third slide">
    </div>
  </div>
</div>
-->
