<!--
<div class="card" style="flex-direction: row">
<% @items.each do |item| %>
  <div class="card-header">
    <%= item.name %>
  </div>

  <div class="card-body">
  <div class="row">
  <img src="<%= item.image %>" class="d-flex align-self-center img-thumbnail ">
    <ul>
      <li><%= item.description %></li>
      <li><%= item.quantity %></li>
      <li><%= item.item_number %></li>
    </ul>
    <% end %>
  </div>

  <div class="card-footer">
    <p>hello</p>
  <div>
  </div>

</div>

<div class="row"><div class="d-grid btn btn-large btn-block"></div></div>
-->

<div class="card">
  <div class="card-header bg-primary">
    <h5 class="text-light"><%= item.name %></h5>
  </div>

  <div class="card-body">

  <div class="row">
    <div class="col align-self-center">
      <dl>
        <dt>Image</dt>
        <dd><img src="<%= item.image %>" class="img-thumbnail"></dd>
      </dl>
    </div>

    <div class="col">
      <dl>
      <dt>
          Name
        </dt>
        <dd>
          <%= item.name %>
        </dd>
        <dt>
          Description
        </dt>
        <dd>
          <%= item.description %>
        </dd>

        <dt>
          Quantity
        </dt>
        <dd>
          <%= item.quantity %>
        </dd>

        <dt>
          Item #
        </dt>
        <dd>
          <%= item.item_number %>
        </dd>

      </dl>
    </div>
    </div>
    </div>

   
    
    

  <div class="card-footer bg-primary">
    <h5 class="text-light">Last updated <%= time_ago_in_words(item.updated_at) %> ago</h2>
  </div>
</div>

<!-- <div class="row"><div class="d-grid btn btn-large btn-block"></div></div> -->
