<div class="col mx-3">
  <h1 class="col">Edit item</h1>

  <hr>

  <form action="/mace/edit_item/<%= @item.id %>" method="post" class="col">

    <label for="name">Item Name</label>
    <input id="name" type="text" name="name" value="<%= @item.name %>">

    <br>

    <label for="description">description</label>
    <textarea id="description" name="description" ><%= @item.description %></textarea>

    <br>

    <label for="quantitu">Quantity</label>
    <input id="quantity" type="number" name="quantity" value="<%= @item.quantity %>">

    <br>

    <label for="item_number">Item Number</label>
    <input id="item_number" type="text" name="item_number" value="<%= @item.item_number %>">

    <br>

    <label for="in_stock">In Stock</label>
    <% if @item.in_stock == true %>
    <input id="in_stock" type="checkbox" name="in_stock" checked >
    <% elsif @item.in_stock == false%>
    <input id="in_stock" type="checkbox" name="in_stock" >
    <% end %>

    <button>Submit</button>
  </form>
</div>

<hr>

<div class="col mx-3">
  <h1>Upload a photo</h1>

  <form action="/insert_photo" method="post" enctype="multipart/form-data">

    <label for="item_id">Item_id</label>
    <input id="item_id" type="integer" name="item_id" value="<%= @item.id %>">

    <br>

    <label for="photo">Image</label>
    <input id="photo" type="file" name="photo">

    <br>

    <button>Submit</button>

  </form>

</div>
